<!DOCTYPE html>
<html>
<head>
  <title>Homestyle</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag cms_render_css_path(@cms_site.id, @cms_layout.identifier) %>
<%= javascript_include_tag cms_render_js_path(@cms_site.id, @cms_layout.identifier) %>
</head>
<body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
